footer{
margin: 450px 1px 1px 620px;
}

footer img{
    width: 30px;
}

body{
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
}
#div_navbar{
    width: 100%;
    margin: auto;
}

#div_body{
    width: 60%;
    margin: auto;
    background-color: blanchedalmond;
    border-radius: 1px;
}
