.topic{
    width: 40%;
    margin: auto;
    margin-top: 3em;
}

.topic_content{
    background-color: rgb(222, 211, 226);
    border-radius: 1em;
    box-shadow: 10px 10px 5px ;
}

.topic_content p{
    width: 90%;
    margin: auto;
    font-size: 20px;
}

h1{
    width: 90%;
    margin: auto;
   font-size: 5em;
   padding: 0.5em 2em 0.5em 3em;
}

h2{
    font-size: 2em;
}

footer{
margin: 450px 1px 1px 620px;
}

footer img{
    width: 30px;
}

body{
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
}
#div_navbar{
    width: 100%;
    margin: auto;
}

