body {
    font-family: sans-serif !important;
    background: rgb(43,46,55);
    background: linear-gradient(90deg, rgba(43,46,55,1) 0%, rgba(45,47,59,1) 35%, rgba(29,30,35,1) 100%);
    padding: 2rem;
    height: 100vh;
    overflow-x: hidden;
}

.card {
    background: rgb(61, 65, 77);
}

.continous-flow {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

.text-primary {
    color: #FCFFFF !important;
}

.text-secondary {
    /* color: #00FF00 !important */
    color: #2E8B57 !important
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
}

button#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}