#backgroundAndTitle {
    background-image: url(../images/background_2.jpg);
}

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .9s infinite;
}